.event_container {
    width: 100%;
    min-width: 1024px;
    height: 100%;
    margin: -92px 0 -200px 0;
    padding: 92px 0 300px 0;
}
.event_contents {
    width: 100%;
    margin: 0;
    padding: 70px 0 0 0;
}
.location-fixed {
    padding-top: 82px;
}
.event_inner_wrap {
    width: 1024px;
    margin: 0 auto;
}
h2.event_tit {
    padding: 0 0 26px 0;
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
}
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    text-align: center;
    display: inline-block;
    font-size: 15px;
    padding: 7px 15px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-width: 1px ;
    border-bottom: 1px solid #503396;
    margin-right:-4.6px
}
ul.tabs li.current{
    color: #503396;
    border: 1px solid #503396;
    border-bottom: 0;
    border-bottom: 1px solid #ebebeb;
}
.tab-link {
    width: 13.6%;
}
.tab-content{
    display: none;
    padding: 15px;
}
.tab-content.current{
    display: inherit;
}
/*슬라이드*/
.animation_canvas {
    position: relative;
    width: 100%;
    height: 208px;
    overflow: hidden;
}
.slider_panel {
    width: 4200px;
    position: relative;
}
.slider_image {
    width: 450px;
    float: left;
    margin-left: 50px;
}
.control_panel {
    position: absolute;
    top: 380px;
    left: 270px;
}
.conrtrol_button {
    position: relative;
    cursor: pointer;
    background: url(images/point_button.png);
    width: 12px;
    height: 46px;
    float: left;
}
.slider_text {
    position: absolute;
    width: 300px;
    height: 200px;
    color: yellow;
}
.conrtrol_button:hover {
    top: -16px;
}
.conrtrol_button.active {
    top: -31px;
}
.left_control {
    position: absolute;
    top: 170px;
    left: 5px;
    width: 20px;
    height: 35px;
    cursor: pointer; 
}
.right_control {
    position: absolute;
    top: 170px;
    right: 5px;
    width: 20px;
    height: 35px;
    cursor: pointer;
}
.inner_wrap {
    width: 1024px;
    margin: 0 auto;
}
.mt70 {
    margin-top: 70px!important;
}
.mt15 {
    margin-top: 15px!important;
}
.tit-util {
    box-sizing: border-box;
}
.tit-util .tit {
    float: left;
    padding: 0!important;
    line-height: 1.1;
}
h3.tit {
    margin: 0;
    padding: 0 0 16px 0;
    font-size: 1.6em;
    font-weight: 400;
    color: #503396;
    line-height: 1.1;
}
.tit-util .right {
    float: right;
}
.tit-util .right a {
    display: inline-block;
}
.tit-util:after, .tit-util:before {
    content: '';
    display: block;
}
.tit-util:after {
    clear: both;
}
a:link {
    color: #444;
    text-decoration: none;
}
.ico-arr-right-gray {
    overflow: hidden;
    width: 7px;
    height: 12px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-arr-right-gray.png);
}
.event-list {
    overflow: hidden;
}
.event-list ul {
    overflow: hidden;

}
.event-list ul li {
    position: relative;
    float: left;
    width: 230px;
    margin: 0 0 0 20px;
    padding: 0;
}
.event-list ul li a {
    overflow: hidden;
    display: block;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    min-height: 340px;
}
.event-list ul li a .img {
    width: 100%;
    height: 229px;
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #e4e4e4;
    background-color: #eee;
}
.event-list ul li a .tit {
    overflow: hidden;
    height: 60px;
    margin: 0 0 10px 0;
    padding: 20px 17px 0 17px;
    line-height: 1.3;
    font-weight: 700;
    color: #222;
}
.event-list ul li a .date {
    padding: 0 17px 20px 17px;
    font-size: .8667em;
    line-height: 1.1;
    color: #666;
}
.event-list p {
    display: block;
    margin: 0;
    padding: 0;
}